:root{
    /* Colors */
    --background_color:  hsl(185, 75%, 39%);
    --title_color:  hsl(229, 23%, 23%);
    --stats_color: hsl(0, 0%, 59%);

    /* Font */
    --font_size: 18px;
    --font_family: 'Kumbh Sans', sans-serif;
    --font_weight-bold: 700;
    --font_weight-regular: 400;
}

/* Mobile first design */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    /* border: 1px solid red; */
    background: var(--background_color);
    font-family: var(--font_family);
    font-size: var(--font_size);
    color: var(--title_color);

    height: 100vh;
}

.container{
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.container::before{
    content: url('./images/bg-pattern-top.svg');
    position: absolute;
    top: -570px;
    left: -714px;
    z-index: -1;
    transition: ease-in-out 250ms;
}

.container::after{
    content: url('./images/bg-pattern-bottom.svg');
    position: absolute;
    bottom: -512px;
    right: -773px;
    z-index: -1;
    transition: ease-in-out 250ms;
}

.profileCard{
    /* border: 1px solid red; */
    background: white;
    height: 374px;
    width: 326px;

    display: flex;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}

.profileCard-top{
    background: url('./images/bg-pattern-card.svg');
    width: inherit;
    height: 140px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.profileCard-middle{
    height: 145px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.profileCard-image{
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 5px solid white;

    position: absolute;
    top: -48px;
}

.profileCard-name{
    margin-top: 77px;
    font-size: var(--font_size);
    font-weight: var(--font_weight-bold);
}

.profileCard-city{
    font-size: .9rem;
    margin-top: 17px;
}

.profileCard-bottom{
    border-top: 1px solid var(--stats_color);
    height: 88px;
}

.profileCard-stats{
    /* border: 1px solid red; */
    height: inherit;
    list-style: none;

    display: flex;
    justify-content: space-around;
    align-items: center;    
}

.profileCard-stats li p{
    font-weight: var(--font_weight-bold);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.attribution{
    margin-top: 2rem;
}

/* Shared styles */
.secondary-text{
    font-weight: var(--font_weight-regular);
    color: var(--stats_color);
}

.stats{
    margin-top: 12px;
    font-size: .7rem;
}

.background-desing-top, .background-desing-bottom{
    z-index: -1;
    position: absolute;
}

/* Media Query - Desktop */
@media screen and (min-width: 768px){
    .container::before{
        left: -514px;
    }

    .container::after{
        right: -620px;
    }
}

@media screen and (min-width: 1024px){

    .profileCard{
        width: 350px;
    }
    .container::before{
        left: -414px;
    }

    .container::after{
        right: -500px;
    }
}

@media screen and (min-width: 1280px){
    .container::before{
        top: -500px;
        left: -300px;
    }

    .container::after{
        right: -330px;
    }
}

@media screen and (min-width: 1440px){
    .container::before{
        top: -460px;
        left: -220px;
    }

    .container::after{
        right: -170px;
    }
}

@media screen and (min-width: 2000px){
    .container::before{
        top: -460px;
        left: -20px;
    }

    .container::after{
        right: 0px;
    }
}
